*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

header {
    background-color: #0c0c0c;;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

h1{
    color: white;
    margin-bottom: 15px;
}

span{
    color: white;
    margin-bottom: 15px;
}

#api {
    margin-top: 100px; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Espaçamento entre a div e o botão */
    width: 600px;
    height: 400px;
    background-color: #f03dba;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}




#novo{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 600px;
    padding: auto;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-right: 20px; /* Espaçamento entre os ícones e o nome */
}

footer a {
    color: white;
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

/* Estilos para dispositivos móveis */
/* Estilos para dispositivos móveis */
/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    body {
        margin-bottom: 350px; /* Diminui a margem inferior da página */
    }

    header {
        padding: 10px;
        font-size: 1.2em; /* Reduz o tamanho da fonte do header */
    }

    #api {
        width: 90%;
        max-height: 300px; /* Define uma altura máxima para a div api */
        overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo exceder a altura */
        margin-bottom: 30px; /* Aumenta o espaçamento abaixo da div api */
    }

    #api img {
        max-width: 60%; /* Reduz o tamanho da imagem em 20% */
        height: auto;
    }

 #novo {
        font-size: 0.8em; /* Reduz o tamanho da fonte do botão */
        width: 90%; /* Define a largura do botão */
        margin: 10px; /* Adiciona margem ao botão */
    }

    footer {
        padding: 10px;
        font-size: 0.8em;
        position: fixed; /* Fixa o footer na parte inferior da tela */
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        margin-top: 30px; /* Aumenta o espaçamento acima do footer */
    }
}





